.main {
    display: flex;
    justify-content: space-around;
    width: 65%;
}

.content{
    
}

.calc-container {
    width: fit-content; 
    margin: 0 auto;
    padding: 20px 0;
}

.calc__title {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
    box-sizing: border-box;
    color: rgba(116, 176, 39, 1);
    font-weight: 900;
}

.calc__input {
    display: flex;
    width: auto;
    margin-bottom: 15px;
}

.calc__input .calc__input-text {
    display: flex;
    align-items: center;
    font-size: 18px;
    word-wrap: break-word;
}

input[type=number] {
    font-size: 18px;
    padding: 5px 10px;
    width: 100px;
    margin-right: 10px;
    border-radius: 2px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.calc__input-icon {
    font-size: 22px;
    /* icon size */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: rgba(116, 176, 39, 1);
}

/* Button for show result */
.result-btn {
    background-color: rgba(255, 255, 255, .5);
    color: black;
    border: 2px solid rgba(116, 176, 39, 1);
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: .3s;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
}

.result-btn:hover {
    background-color: rgba(116, 176, 39, 1);
    color: white;
}

.result-btn:active {
    color: rgb(228, 228, 228);
}


@media screen and (max-width: 1023px) {
    .main{
        width: 100%;
    }

    .calc-container{
        /* width: 90%; */
    }
}

@media screen and (max-width: 767px){

    .calc-container{
        /* width: 100%; */
    }

    .calc__title{
        font-size: 18px;
    }
    
    .calc__input .calc__input-text{
        font-size: 12px;
    }

    input[type=number]{
        font-size: 12px;
        width: 50px;
        align-self: flex-start;
    }

    .calc__input-icon{
        font-size: 18px;
    }

    .calc__input-text{
        max-width: 300px;
    }

}

@media screen and (max-width: 480px){
    .calc__input-text{
        max-width: 180px;
    }
    .calc__title{
        font-size: 14px;
    }

    
}