/* This file included styles for sidebar */
.sidebar {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .8);
    padding: 20px 0;
    position: relative;
}

.menu {
    width: 100%;
}

.menu__links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sidebar__btn {
    width: 100%;
    border: none;
    padding: 10px 15px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    color: rgba(0, 0, 0, .7);
    background-color: rgb(235, 235, 235);
    transition: .2s;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 2px;
}

.sidebar__btn:hover {
    background-color: rgb(202, 202, 202);
}

.sidebar__btn-active {
    background-color: rgba(117, 176, 39, 0.753);
    color: rgb(255, 255, 255);
}

.sidebar__btn-active:hover {
    background-color: rgba(117, 176, 39, 0.753);
    color: rgb(255, 255, 255);
}

.sidebar__toggle-btn {
    display: none;
    background-color: rgb(235, 235, 235);
    color: rgb(83, 83, 83);
    position: absolute;
    padding: 0 10px;
    top: 0;
    left: 0;
    font-size: 50px;
    line-height: 70px;
    z-index: 2000;
    cursor: pointer;
    transition: .2s;
    user-select: none;
}

.sidebar__toggle-btn:hover {
    background-color: rgb(224, 224, 224);
}

/* Style for exchange rates */

#exchange-rates {
    display: none;
    font-size: 16px;
    padding-top: 20px;
    color: rgba(75, 75, 75, 0.705);
}

@media screen and (max-width: 1023px) {

    /* The side navigation menu */
    .sidebar {
        height: 100%;
        width: 320px;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: -110%;
        background-color: rgb(44, 44, 44);
        overflow-x: hidden;
        padding-top: 70px;
        transition: 0.3s;
        -webkit-box-shadow: 3px 0px 10px 0px rgba(140, 140, 140, 1);
        -moz-box-shadow: 3px 0px 10px 0px rgba(140, 140, 140, 1);
        box-shadow: 3px 0px 10px 0px rgba(140, 140, 140, 1);
    }

    .sidebar__btn {
        width: 100%;
    }

    .sidebar__toggle-btn {
        display: block;
    }

    #exchange-rates {
        color: rgba(255, 255, 255, 0.705);
    }
}
